<a href="https://colab.research.google.com/github/smsmss20/smsmss20/blob/main/1381211_BNK%EB%94%94%EC%A7%80%ED%84%B8%EA%B8%88%EC%9C%B5_%EC%9D%B4%EC%83%81%EB%AF%B8(HW2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
#1,번문제
myList=[10,20,30,40,50]
print(sum(myList))

#2번문제
fruits=["사과","바나나","딸기,""오렌지"]
print(fruits[1])

#3번문제
fruits=["사과","바나나","딸기","오렌지"]
fruits[1]='포도'
print(fruits)

#4번문제
numbers=[5,10,15,20,25]
print(len(numbers))

#5번문제
original_list=[1,2,3,4,5]
original_list.reverse()
print(original_list)

#6번문제
튜플=(10,20,30,40,50)
print(튜플[0])
print(튜플[4])

#7번문제
튜플1=(1,2,3)
튜플2=(4,5,6)
print(튜플1+튜플2)

#8번문제
튜플=(5,10,15,20,10)
a=튜플.count(10)
print(a)

#9번문제
튜플=(1,2,3,4,5),(6,7,8,9,10)
print(튜플[0])
print(튜플[1])

#10번문제
a=10,20,30,40,50
리스트=list(a)
튜플=tuple(a)
print(리스트)
print(튜플)

#11번문제
a = {'학생이름':'홍길동','학생나이':'18세','학생주소':'서울시 강남구','학생과목성적':{"수학": 95, "과학": 88, "영어": 78}}
print(a)

#12번문제
a={"A": 10, "B": 20, "C": 30, "D": 40}
print(a.pop("B"))

#13번문제
a={"A": 10, "B": 20, "C": 30, "D": 40}
a.update({'E':50})
print(a)

150
바나나
['사과', '포도', '딸기', '오렌지']
5
[5, 4, 3, 2, 1]
10
50
(1, 2, 3, 4, 5, 6)
2
(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)
[10, 20, 30, 40, 50]
(10, 20, 30, 40, 50)
{'학생이름': '홍길동', '학생나이': '18세', '학생주소': '서울시 강남구', '학생과목성적': {'수학': 95, '과학': 88, '영어': 78}}
20
{'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}