<a href="https://colab.research.google.com/github/smsmss20/smsmss20/blob/main/Lv2_HW1_1381211__%EC%9D%B4%EC%83%81%EB%AF%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def multiply(a,b):
    return a*b
print(multiply(2,4))

8

In [ ]:
def Hello():
    return "World"
a= Hello()
print(a)

World

In [ ]:
def add(a,b):
    print(a,", ",b,"의 합은 ", a+b,"입니다.")
add(3,4)

7 ,  9 의 합은  16 입니다.

In [ ]:
def nothing():
    print("else")
nothing()

else

In [ ]:

def add_all(*v):
    sum = 0
    for i in v:
      sum = sum + i
    return sum

result1 = add_all(1,2,3)
print(result1)
result2 = add_all(1,2,3,4,5,6)
print(result2)

6
21

In [ ]:
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(city='London')
print_kwargs(name='jane', age=88)

{'city': 'London'}
{'name': 'jane', 'age': 88}

In [ ]:

def l_multiply(func, a, b):
    return func(a,b)

result = l_multiply(lambda a,b : a*b, 2,4)
print(result)

8

In [ ]:

a = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
b = [1,2,3,4,5,6,7,8,9,10,11,12]

for index, (eng_month_name,number) in enumerate(zip(a,b), start = 1):
    print(f"index {index}: {eng_month_name}, {number}")

index 1: JAN, 1
index 2: FEB, 2
index 3: MAR, 3
index 4: APR, 4
index 5: MAY, 5
index 6: JUN, 6
index 7: JUL, 7
index 8: AUG, 8
index 9: SEP, 9
index 10: OCT, 10
index 11: NOV, 11
index 12: DEC, 12

In [ ]:
cal = [1,2,3,4,5]

def sqr(func1):
    return func1
result_91 = sqr(list(map(lambda x : x**2, cal)))

def add_hun(func2):
    return func2
result_92 = list(map(lambda x : x+100, cal))

def check_even(func3):
    return func3
result_93 = list(map(lambda x : x%2==0, cal))

print(f"9-1: {result_91}")
print(f"9-2: {result_92}")
print(f"9-3: {result_93}")

9-1: [1, 4, 9, 16, 25]
9-2: [101, 102, 103, 104, 105]
9-3: [False, True, False, True, False]

In [ ]:
test_num= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
is_odd = list(filter(lambda x : x%2!=0, test_num))
big_than = list(filter(lambda x : x >= 9, test_num))
times_thr = list(filter(lambda x : x%3==0, test_num))
print(f"10-1: {is_odd}")
print(f"10-2: {big_than}")
print(f"10-3: {times_thr}")

10-1: [1, 3, 5, 7, 9]
10-2: [9, 10]
10-3: [3, 6, 9]

In [ ]:
def convert_to_uppercase(input_str):
    return input_str.upper()
input_str = "paris shanghai sydney"
result = convert_to_uppercase(input_str)
print(result)

PARIS SHANGHAI SYDNEY

In [ ]:
def calc_many(choice, *args):
    a = 0
    b = 1
    if choice == "sum":
        for i in args:
            a = a+i
        return a
    elif choice == "mul":
        for i in args:
            b = b*i
        return b
    else:
        print("choice를 정확히 입력해주세요")

result_sum = calc_many('sum', 1,2,3,4,5)
print(result_sum)

result_mul = calc_many('mul', 1,2,3,4,5)
print(result_mul)

15
120